* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: rgb(2,0,36);
  background: linear-gradient(322deg, rgba(2,0,36,1) 0%, rgba(121,9,94,1) 35%, rgba(0,212,255,1) 100%);
}

.centerImg{
display: flex;
justify-content: center;
align-items: center;
}
.myImg {
margin: 20px;
object-fit: contain;
width: 20%;
height: 20%;
border: #eee; 
border-width: 10px; 
border-radius: 10%;
}